# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/client/main
cmd/client/agent
cmd/server/main
cmd/server/server
cmd/grpc/main
cmd/grpc/grpc

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

# docker
docker/docker-compose.yml

# pem
*.pem

# bin
bin

internal/server/files_server/*
!internal/server/files_server/.gitkeep
files_client_upload/*
!files_client_upload/.gitkeep
internal/client/meta_client/*
!internal/client/meta_client/.gitkeep
internal/client/files_temp/*
!internal/client/files_temp/.gitkeep